.first {
  max-width: 100%;

}

#nav {
  display: flex;
  justify-content: space-between;
}

div {
  margin: 0;
  padding: 0;
}

.main-menu {
  margin:
}

.dice-name {
  font-size: 10px;
  font-weight: bold;
  margin: 20px auto;
}

.dice-wrapper {
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
  background: url(../Images/shell.png) center center /cover no-repeat;
}

.dice-wrapper .btn {
  width: 90% !important;
  margin: 10px auto;
}

#dice-host {
  width: 100%;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#total-score, #score, #leaderboard {
  font-family: 'Edu QLD Beginner', cursive;
  font-size: 50px;
}

.player-name {
  border-bottom: 1px solid #848484;
  width: 300px;
}